<!DOCTYPE html>
<html>
	<body>
		&copy; 2017
		<hr />
		<a href="https://github.com/shgysk8zer0/js-assignments">
			<svg class="icon logo"><use xlink:href="imgs/icons.svg#mark-github"/></svg>
		</a>
		<a href="https://github.com/shgysk8zer0/js-assignments/issues">
			<svg class="icon logo"><use xlink:href="imgs/icons.svg#issue-opened"/></svg>
		</a>
		<a href="mailto:shgysk8zer0@gmail.com?subject=js-assignments">
			<svg class="icon logo"><use xlink:href="imgs/icons.svg#mail"/></svg>
		</a>
	</body>
</html>
